@page
@model InventoryEditModel
@{
    ViewData["Title"] = "Current Inventory | Tables";
}

<div class="text-left">
    <h1 class="display-3">Current Inventory | Tables</h1>



    <table class="table table-bordered table-striped">
        <thread>
            <tr>
                <th>Quantity</th>
                <th>Order</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td>97
                <form asp-controller="Edit Tables" asp-action="Index">
                    <p>
                     <input type="text" name="SearchString" />
                     <input type="submit" value="Change Quantity" />
                        </p>
                </form>

                </td>
                <td>
                <form asp-controller="Edit Tables" asp-action="Index">
                    <p> 
                     <input type="submit" value="Add to Cart" />
                        </p>
                </form>
                </td>

            </tr>


        </tbody>

    </table>

</div>

