@page
@model FinalProjectTest.Pages.OrderConfirmationModel
@{
}

<h2>Order Confirmation</h2>

<div>
<table>
<tr>
<th>Item name</th><th>Quantity</th><th>Price</th>
</tr>
<tr>
<td>Item1</td><td>2</td><td>$1.99</td>
</tr>
<tr>
<td>Item2</td><td>4</td><td>$3.99</td>
</tr>
</table>
<button type="submit">Confirm</button>
<button type="submit">Cancel</button>
</div>